.intro {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
}
.outro {
  font-style: italic;
  font-family: cursive;
  font-size: small;
}

.red {
  color: red;
  font-style: bold;
}